.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  
  padding: 1rem 2rem;
  background-color: var(--card-background);
  
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.07);
  
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--primary-color);
}

.navLinks {
  display: flex;
  gap: 2rem;
}

.navLink {
  font-size: 1rem;
  font-weight: 600;
  color: var(--secondary-color);
  opacity: 0.7;
  padding-bottom: 5px; 
  border-bottom: 3px solid transparent;
  transition: all 0.2s ease-in-out;
}

.navLink:hover {
  opacity: 1;
}

.active {
  opacity: 1;
  color: var(--primary-color);
  border-bottom-color: var(--primary-color);
}


.authLinks {
  display: flex;
  gap: 1rem;
}

.loginButton {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  
  background-color: transparent;
  color: var(--secondary-color);
  padding: 10px 18px;
  border-radius: 8px;
  border: 2px solid transparent;
  font-weight: 600;
  font-size: 0.9rem;
  transition: all 0.2s;
}

.loginButton:hover {
  background-color: #f4f4f4;
  border-color: #ddd;
}

.registerButton {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;

  background-color: var(--primary-color);
  color: white;
  padding: 10px 18px;
  border-radius: 8px;
  border: 2px solid var(--primary-color);
  font-weight: 600;
  font-size: 0.9rem;
  transition: all 0.2s;
}

.registerButton:hover {
  background-color: #248a7f;
  border-color: #248a7f;
  transform: scale(1.03);
}

.loggedInContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.welcomeMessage {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--secondary-color);
  opacity: 0.8;
}

.logoutButton {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--danger-color);
  color: white;
  padding: 10px 18px;
  border-radius: 8px;
  border: 2px solid var(--danger-color);
  font-weight: 600;
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 0.2s;
}

.logoutButton:hover {
  background-color: #d95a3a;
  border-color: #d95a3a;
  transform: scale(1.03);
}